[submodule "ProgrammCourses/ThirdSem/Android/hw1-calculator-Moahim2"]
	path = ProgrammCourses/ThirdSem/Android/hw1-calculator-Moahim2
	url = https://github.com/Android-ITMO-CT-Course/hw1-calculator-Moahim2.git
