[submodule "googletest"]
	path = googletest
	branch = main
	url = https://github.com/google/googletest
[submodule "test"]
	path = test
	url = https://github.com/itiviti-cpp-master/expressions-int128-test.git
