build/
/**/build/
local.properties
.gradle/
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
*.iws
.idea_modules/
out/
!gradle-wrapper.jar
!gradle-wrapper.properties
*.class